{	
	"slack_token" : "",
	"bot_name" : "",
	"subreddit" : "",
	"user_agent" : "",
	"report_channel" : "",
	"megabot" : {
		"mega_flair" : "",
		"discussion_flair" : ""
	},
	"reporter" : {
		"submission_threshold" : ,
		"comment_threshold" : 
	},
	"ratelimit" : {
		"burst_seconds" : ,
		"daily_seconds" : ,
		"daily_count" : ,
		"flair" : "",
		"reason" : ""
	},
	"removals" : {
		"database" : "",
		"subreddit" : "",
		"user_agent" : "",
		"mods" : [
				""
		],
		"header" : "",
		"footer" : "",
		"reasons" : {
				"flair_text_here" : "reason_text_here"
		}
	}
}
