{
	"slack_token" : "",
	"bot_name" : "",
	"subreddit" : "",
	"user_agent" : "",
	"log_channel" : "",
	"report_channel" : "",
	"database" : {
		"database" : "",
		"user" : "",
		"password" : "",
		"host" : "",
		"port" : 
	},
	"domain_match" : {
		"ignore" : []
	},
	"megabot" : {
		"mega_flair" : "",
		"discussion_flair" : ""
	},
	"perspective" : {
		"api_key" : "",
		"channel" : "",
		"attributes" : {}
	},
	"postsmailer" : {
		"timelimit" : ,
		"subreddits" : []
	},
	"reporter" : {
		"submission_threshold" : ,
		"comment_threshold" : ,
		"moderators" : []
	},
	"queueflood" : {
		"burst_max_seconds" : ,
		"daily_seconds" : ,
		"daily_count_limit" : ,
		"flair" : ""
	},
	"removals" : {
		"exemptmods" : [],
		"header" : "",
		"footer" : "",
		"reasons" : {}
	}
}
